.h1a {
  font-size: 5vmin;
  text-align: center;
}

.acolumn {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding: 5%;
}

.post-title {
  padding: 1rem;
  max-height: 1rem;
  display: inline-block;
  max-width: 50%;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete {
  float: right;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  background: #ff9999;
}

.delete:hover {
  background: #ff5555;
  color: black;
}
.title-box {
  white-space: unset;
}
.title-box:hover {
  background: var(--bg-secondary);
}

.new-post {
  padding: 1rem;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  background: #a0dbc9;
}

.new-post:hover {
  background: #66cca7;
  color: black;
}

.logout {
  padding: 1rem;
  text-align: center;
  float: right;
  font-weight: bold;
  background: #ff9999;
}

.logout:hover {
  background: #ff5555;
  color: black;
}

.username {
  float: right;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .acolumn {
    display: inline-block;
    vertical-align: top;
    padding: 5%;
    width: 90%;
  }

  .username {
    float: right;
    padding: 1rem;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20%;
  }
}
