@font-face {
  font-family: "Big John PRO Regular";
  src: url("../public/fonts/BigJohnPRORegular.otf") format("opentype");
}

@font-face {
  font-family: "Headache";
  src: url("../public/fonts/Headache.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  --text-primary: black;
  --text-secondary: black;
  --bg-primary: #eee;
  --bg-secondary: #bcbcbc;
  --transition-speed: 300ms;
}

.background {
  position: relative;
  margin: 0 auto;
  clear: left;
  height: auto;
  z-index: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: salmon;
}

ul {
  list-style-type: square;
  margin-right: 10px;
}

ol {
  margin-right: 10px;
}

p {
  margin-right: 10px;
}

body {
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

h1 {
  font-size: 10vmin;
  text-transform: uppercase;
  font-family: "Big John PRO Regular";
  font-weight: bolder;
}

h2 {
  font-size: 4vh;
  font-family: "Montserrat";
  font-weight: 500;
}

.page {
  flex-direction: row;
  margin-left: auto;
  width: 100%;
  height: auto;
}

.container-main {
  margin-left: 7rem;
  border-width: 3px;
  height: 100%;
}

.section {
  flex-direction: column;
  border-width: 3px;
}

.car-top {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.comp-name {
  font-size: 10vw;
  font-family: "Headache";
  color: white;
}

.sponsor {
  color: white;
  margin-left: 30%;
  margin-right: 25%;
  font-size: 1vw;
}

.column {
  display: inline-block;
  width: 40%;
  padding-right: 2rem;
  text-align: center;
}

.row {
  display: table;
}

.column2 {
  display: inline-block;
  width: 45%;
  padding: 1rem;
  vertical-align: top;
}

.column2:hover {
  background-color: var(--bg-secondary);
}

.row2 {
  text-align: center;
  position: relative;
  max-height: 20rem;
  overflow: hidden;
}

.flow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  background-image: linear-gradient(to bottom, transparent, var(--bg-primary));
  z-index: 5;
}

.read-more {
  background: rgba(238, 238, 238, 0.7);
  border-radius: 50px;
  padding: 0.5rem;
  z-index: 10;
}

.c-img {
  max-width: 100%;
}

.parent {
  position: relative;
}

.logos {
  display: inline;
}

.eu-size {
  width: 20%;
  height: auto;
}

.magnus-size {
  width: 7%;
  height: auto;
}

.temp {
  float: right;
  vertical-align: top;
  color: white;
  margin: 5px;
}

@media only screen and (min-width: 600px) {
  .comp-name {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }

  h2 {
    font-size: 3vh;
  }

  .column {
    width: 90%;
    border-right: 5px;
  }

  .container-main {
    margin-left: 1rem;
    height: auto;
    margin-bottom: 5rem;
  }

  .logo {
    display: none;
  }

  .column2 {
    padding: 1rem;
    width: 100%;
    max-width: 90%;
  }

  .sponsor {
    margin-left: 25%;
  }
}
