:root {
  font-size: 16px;
  font-family: "Segoe UI";
  --text-primary: black;
  --text-secondary: black;
  --bg-primary: white;
  --bg-secondary: #bcbcbc;
  --transition-speed: 500ms;
}

@font-face {
  font-family: "Big John PRO Regular";
  src: url("../fonts/BigJohnPRORegular.otf") format("opentype");
}

@font-face {
  font-family: "Headache";
  src: url("../fonts/Headache.otf") format("opentype");
}

h1 {
  font-size: 16px;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}
.page {
  flex-direction: row;
  margin-left: auto;
  width: 100%;
  height: auto;
}
.container-main {
  margin-left: 5rem;
  border-width: 3px;
  border-color: black;
  height: 100%;
}
.container-post {
  flex-direction: column;
  border-width: 3px;
}
.title-post {
  font-size: 42px;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.link-text-lang {
  text-align: center;
  margin-left: 1rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  font-family: "Headache";
}

.navbar:hover .logo svg {
  opacity: 0;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow: scroll;
  }
  .container-main {
    margin-left: 1rem;
    height: auto;
    margin-bottom: 5rem;
  }
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
    overflow: scroll;
  }

  .navbar:hover .link-text {
    display: inline;
    font-family: "Big John PRO Regular";
    font-weight: bold;
    text-transform: uppercase;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 20px;
    font-family: "Headache";
  }
}
